@import url(https://fonts.bunny.net/css?family=alata:400|averia-serif-libre:700i);


* {
    margin: 0;
    padding: 0;
}

html, body, .wrapper {
    height: 100%;
}
p {
    text-wrap: pretty;
}

:root {
    --palette-green: #74B35B;
    --palette-green-light: #89bf73;
    --palette-white: #F8F5EC;
    --palette-light-brown: #C4B9AB;
    --palette-brown: #483f33;
}

.wrapper{
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    font-family: alata, sans-serif;
}

.sidebar {
    background-color: var(--palette-green);
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 2em;
    color: var(--palette-white);
    font-family: Alata, sans-serif;
}

.logo h1 {
    display: inline;
    justify-self: start;
    font-family: "Averia Serif Libre" , sans-serif;
    font-weight: 700;
    font-style: italic;
}

.logo {
    font-size: 3rem;
    display: flex;
}

.logo > * {
    padding: 5px;
    
}

.logo svg {
    transform: rotate(90deg);
}

.sidebar ul {
    font-size: 1.5em;
    list-style-type: none;
}

.sidebar li {
    padding: 5px 1rem;
    letter-spacing: 3px;
}

.sidebar li:hover {
    padding: 5px 1.2em;
    background-color: var(--palette-green-light);
}

.header {
    background-color: var(--palette-white);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 1.5rem;
    color: var(--palette-brown);
    row-gap: 1rem;
}

.header button {
    background-color: var(--palette-green);
    border: 0px;
    padding: 4px 16px;
    border-radius: 20px;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar button, .user-info button {
    border: 0;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}

.searchbar input {
    border: 2px solid var(--palette-light-brown);
    border-radius: 10px;
    height: 30px;
    width: 80%;
    margin-right: 4rem
}

.searchbar img, .user-info button>img {
    max-width: 30px;
}


.buttons {
    justify-self: flex-end;
    grid-column: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.buttons button {
    border-radius: 50%;
    padding: 8px 10px;
}

.buttons img {
max-width: 25px;
}

.user-info {
    font-size: 1.3rem;
    font-family: "Averia Serif Libre";

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    grid-column: 3;
}

.pfp {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid var(--palette-light-brown);
}

.welcome {
    grid-row: 2;
    font-family: alata, sans-serif;
    margin-left: 4rem;
}

.welcome :last-child {
    font-size: 1.5rem;
}

main {
    background-color: var(--palette-white);
    padding: 0 2rem;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);

    font-family: alata, sans;
    color: var(--palette-brown);
}

.cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(340px, 1fr));
    grid-template-rows: 50px 300px;
    gap: 1rem;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.cards h2 {
    font-family: "Averia Serif Libre";
    font-size: 2rem;
    grid-column: 1 / -1;
}

article {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    column-gap: 1.5rem;
    row-gap: 1rem;
    justify-content: space-between;
    align-content: start;

    background-color: var(--palette-light-brown);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 var(--palette-light-brown);
    padding: 1rem;

    max-height: 250px;
}

article h3 {
    grid-column: 1 / -1;
}

article img {
    width: 150px;
    height: 150px;
    justify-self: center;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 0 5px;
}

article p {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.announcement {
    margin-left: 1.5rem;
    height: 300px
}

.announcement h2 {
    font-family: "Averia Serif Libre";
    font-size: 2rem;
    grid-column: 1 / -1;
    margin-bottom: 27px;
}

.announcement div {
    background-color: var(--palette-light-brown);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 var(--palette-light-brown);
    padding: 1rem;

    max-width: 400px;
}

.announcement p {
    margin-bottom: 0.5rem;
}

main p {
    line-height: 1.5rem;
}
